.task {
    background-color: rgb(143, 209, 231);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .task h3 {
    color: darkblue;
  }
  
  .task p {
    color: gray;
  }
  .task {
    background-color: #c7cced;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    margin-left: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .task p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
  }
  
  .delete-btn {
    background: none;
    border: none;
    color: #d9534f;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .delete-btn:hover {
    color: #c9302c;
  }

  